<h1>Determine the nature of your triangle</h1>

<form action="/triangle_type">
  <div class="form-group">
    <label for="side1">Enter the value of side 1:</label>
    <input id="side1" name="side1" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side2">Enter the value of side 2:</label>
    <input id="side2" name="side2" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="side3">Enter the value of side 3:</label>
    <input id="side3" name="side3" class="form-control" type="text">
  </div>
  <button type="submit" class"btn">Submit</button>
</form>

<div class="results_display">
  <p> The following triangle:</p>
  <p>Side 1 is <%= @side1  %> cm</p>
  <p>Side 2 is <%= @side2  %> cm</p>
  <p>Side 3 is <%= @side3  %> cm</p>

<p>Test: <%= @what_triangle %></p>

</div>
